In [10]:
import sqlite3
from sqlite3 import Error

def create_conn(path):
    connection=None
    
    try:
        connection=sqlite3.connect(path)
        print("Connection Successfull")
    except Error as e:
        print(f"The error '{e}' occurred")
    
    return connection


def execute_query(con,query):
    cur=con.cursor()
    try:
        cur.execute(query)
        con.commit()
        print("Query executed successfully")
    except Error as e:
        print(f"The error as '{e}' occured")

        
def execute_read_query(conn,query):
    cursor=conn.cursor()
    result=None
    
    try:
        cursor.execute(query)
        result=cursor.fetchall()
        return result
    except Error as e:
        print("The error '{e}' occured")
    
    
con=create_conn("F:\sqliteDB/mydb.sqllite")
create_users_table = """
CREATE TABLE IF NOT EXISTS users (
  id INTEGER PRIMARY KEY AUTOINCREMENT,
  name TEXT NOT NULL,
  age INTEGER,
  gender TEXT,
  nationality TEXT
);
"""

create_users = """
INSERT INTO
  users (name, age, gender, nationality)
VALUES
  ('James', 25, 'male', 'USA'),
  ('Leila', 32, 'female', 'France'),
  ('Brigitte', 35, 'female', 'England'),
  ('Mike', 40, 'male', 'Denmark'),
  ('Elizabeth', 21, 'female', 'Canada');
"""
execute_query(con, create_users_table)
execute_query(con, create_users)
print(execute_read_query(con, "select * from users"))

Connection Successfull
Query executed successfully
Query executed successfully
[(1, 'James', 25, 'male', 'USA'), (2, 'Leila', 32, 'female', 'France'), (3, 'Brigitte', 35, 'female', 'England'), (4, 'Mike', 40, 'male', 'Denmark'), (5, 'Elizabeth', 21, 'female', 'Canada')]